<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CanDelete.Properties.Settings.Cars_CarsDbConnectionString"
            connectionString="Data Source=LAPTOP-RC78AAR5\SQLEXPRESS;Initial Catalog=Cars.CarsDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>